<h1 style="color: blue">
    <%= titulo %>
</h1>
<br />

<form action="/productos" method="post">
    <div class="form-group">
        <label for="nombre"><b>Nombre</b></label>
        <input id="nombre" class="form-control" type="text" name="nombre" required/>
    </div>

    <div class="form-group">
        <label for="precio"><b>Precio</b></label>
        <input id="precio" class="form-control" type="number" name="precio" required/>
    </div>

    <div class="form-group">
        <label for="foto_URL"><b>Foto URL</b></label>
        <input id="foto_URL" class="form-control" type="url" name="foto_URL" required/>
    </div>

    <button class="btn btn-success mt-3 mb-5">Enviar</button>
</form>
<button class="btn btn-success mt-3" type="button" onclick="location.href='<%= button_dir %>'"><%= button_text %></button>