<h1 style="color: blue">{{{titulo}}}</h1>
<br />

<div class="table-responsive">
    <table class="table table-dark">
        <tr style="color: yellow;">
            <th>Nombre</th>
            <th>Precio</th>
            <th>Imagen</th>
        </tr>
        {{{datos_de_tabla}}}
    </table>
</div>
<button class="btn btn-success" type="button" onclick="location.href='{{button_dir}}'">{{button_text}}</button>